@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 80px;
    height: 100%;
}

nav {
    display: flex;
    gap: 60px;
}

nav a {
    text-decoration: none;
    color: #424955;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 110% */
    position: relative;
    padding-bottom: 5px; /* Ajuste conforme necessário */
    margin-right: 20px; /* Espaçamento entre os links */
}

nav a::before {
    content: "";
    position: absolute;
    background: #323842; /* Cor da linha */
    width: 0;
    height: 2px; /* Espessura da linha */
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}

/* Estilos para o pseudo-elemento da linha ao passar o mouse */
nav a:hover::before {
    width: 100%;
}



main{
    width: auto;
    height: 450px;
    background-color: #8CB4EE;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    padding-right:10%;
    justify-content: space-between;
}

main h1{
    color: #323842;
    font-family: Epilogue;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    width: 395px;
}

h1 span{
    color: #022247;
}

main p{
    color: #565E6C;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    width: 400px;
}

.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right:10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.info-sobre{
    display: flex;
    flex-direction: column;
}

.info-sobre h1{
    color: #323842;
    font-family: Epilogue;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 74px; /* 134.545% */
}

.info-sobre >  p{
    color: #323842;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    width: 350px;
}

.valores{
    display: flex;
    flex-direction: column;
    width: 235px;
    height: 260px;
    padding: 20px 12px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 2px 0px rgba(23, 26, 31, 0.12), 0px 4px 9px 0px rgba(23, 26, 31, 0.11);
    z-index: 1;
    position: relative;
    left: 30px;
}

.infos-valores{
    border-radius: 10px;
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 15px;
}

.valores h1{
    color: #022247;
    text-align: center;
    font-family: Epilogue;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 150% */
}
.infos-valores p{
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
}

.cor1{
    color: #032347;
    background: #8CB4EE;
}

.cor2{
    color:#8CB4EE;
    background: #032347;
}

.service{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    gap: 50px;
    margin-left: 10%;
    margin-right:10%;
 
}

.service-title{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
 
}

.service-title h1{
    color: #323842;
    text-align: center;
    font-family: Epilogue;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 68px; /* 141.667% */
}

.service-title p{
    color: #9095A0;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
}
.cards{
    display: grid;
    grid-template-columns: 310px 310px 310px;
    justify-content: center;
    gap: 35px;
    
}
.product{
    display: flex;
    flex-direction: column;
    max-width: 310px;
    width: 100%;
    height: 450px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 0px 5px 0px rgba(23, 26, 31, 0.12);
}

.product h1{
    color: #032347;
    font-family: Epilogue;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 150% */
}

.product p{
    color: #032347;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.product_description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
}


button{
    display: flex;
    width: 200px;
    height: 42px;
    padding: 8px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    background: #032347;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    border: none;
}

button:hover{
    border: 1px solid #032347;
    color:  #032347;
    background-color: white;
}

.expe-container{
    display: flex;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.expe{
    display: flex;
    justify-content: space-around;

    width: 100%;
    height: 350px;
    border-radius: 8px;
    background: #022247;
}
.expe-title {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.expe-title > h1{
    color: #FFF;
    font-family: Epilogue;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px; /* 112.5% */
    width: 347px;
}

.expe-title > p{
    color: #F3F4F6;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    width: 274px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 300px;
    background: #032347;
    padding-top: 4%;
    padding-left: 10%;
    padding-right:10%;
    gap: 20px;

}

.footer-infos{
    display: flex;
    justify-content: space-between;
    width: 100%;

   
}
.footer-infos img {
    width: 120px;
    height: 50px;
}

.footer-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer-description{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.redes{
    display: flex;
}

.redes img{
    width: 30px;
    height: 30px;
}
.footer-description h1{
    color: #DEE1E6;
    font-family: Epilogue;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 150% */
}

.footer-description  p{
    color: #DEE1E6;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
}


.footer-description span{
    color: #00BDD6;
    font-family: Epilogue;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 150% */
}

.line{
    width: 100%;
    height: 1px;
    flex-shrink: 0;

    stroke-width: 0px;
    background-color: #DEE1E6;
}

.direitos p{
    color: #DEE1E6;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
}